[Unit]
Description=Bodypack
After=local-fs.target network.target ws2812svr.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/bodypack/_build/prod/rel/bodypack
ExecStart=/home/pi/bodypack/_build/prod/rel/bodypack/bin/bodypack start > /dev/null 2&>1
ExecStop=/home/pi/bodypack/_build/prod/rel/bodypack/bin/bodypack stop

UMask=0027
LimitNOFILE=65535
SyslogIdentifier=Bodypack
Restart=always

[Install]
WantedBy=multi-user.target
